#exclusive {
    background: url('../images/bg/exclusive.gif') 50% 50% /cover no-repeat;
    z-index: 4;

    &::before {
        content: '';
        @extend %pos;
        background: rgba(#000, .7);
        z-index: -5;
    }
}

.exclusive-content {
    position: relative;
    bottom: -140px;
}