$light: #c2c2c2;
$primary: #29df58;
$dark: #333333;
$secondary: #fff;

$body-color: $dark !default;

$font-size-base: 1.125rem;
$font-family-base: 'Segoe UI',
sans-serif;
$headings-font-family: 'Oswald',
sans-serif;
$headings-font-weight: bold;

$link-hover-decoration: none !default;
$input-btn-focus-width: 0 !default;
$input-btn-focus-color: rgba(#fff, 0) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$border-width: 1px !default;

$border-radius: 7px;
$btn-padding-x: 60px;
$btn-padding-y: 20px;

$h2-font-size: $font-size-base * 3.77777778 !default;
$h3-font-size: $font-size-base * 1.333333 !default;